/* 滚动条 */
.scrollbar {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        display: block;
    }
}

/* 无圆角边框 */
.soild-border {
    box-sizing: border-box;
    border: 1px solid rgba($color: #000000, $alpha: 0.4);
}

/* 边框 */
.soild-border-round {
    @extend.soild-border;
    border-radius: 10px;
}

/* 铺满 */
.full-all {
    width: 100%;
    height: 100%;
}

/* 铺满屏幕 */
.full-screen {
    width: 100vw;
    height: var(--app-height);
}

/* 定位铺满 */
.absolute-full {
    inset: 0;
    position: absolute;
}

/* 仅子项拥有事件 */
.only-subitems-events {
    pointer-events: none;

    & > * {
        pointer-events: all;
    }
}

/* 文字描边 */
.text-stroke-shadow {
    /* 文字描边 */
    -webkit-text-stroke: 0.1px black;
    /* 文字阴影 */
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

/* 文字阴影 */
.text-shadow {
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.5);
}

/* 模拟按钮按下效果 */
.pressed {
    opacity: 0.8;
    transform: scale(0.98);
}

/* 触摸伪类 */
.touchable {
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    /* 触摸激活状态样式 */
    &:active {
        @extend .pressed;
    }
}

/* 模拟鼠标移入效果 */
.hovered {
    opacity: 0.8;
}

/* 鼠标移入伪类 */
.hoverable {
    transition: all 0.1s ease-in-out;

    /* 鼠标移入激活状态样式 */
    &:hover {
        @extend .hovered;
    }
}

/* 鼠标移入伪类 */
.hoverable-hovetarget {
    transition: all 0.1s ease-in-out;

    /* 鼠标移入激活状态样式 */
    &:hover .hovetarget {
        @extend .hovered;
    }
}
