@import "tailwindcss";
@import "./base.module.scss";

:root {
    /* 应用高度 */
    --app-height: 100vh;
}

body {
    margin: 0;
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: var(--app-height);
}

::-webkit-scrollbar {
    display: none;
}
